<%- include('./header', { title: 'QR Booking App' }) %>

<% if (typeof isHome !== 'undefined' && isHome) { %>
  <!-- Home page override -->
  <div class="min-h-screen flex flex-col items-center justify-center bg-[#fddbb3] px-4 py-10 text-center">
    <%- body %>
  </div>
<% } else { %>
  <!-- Default layout for all other pages -->
  <div class="min-h-screen bg-[#fddbb3] px-4 py-10">
    <div class="w-full max-w-4xl mx-auto">
      <%- body %>
    </div>
  </div>
<% } %>

<%- include('./footer') %>


