# Node.js dependencies
node_modules/

# Lock file (optional — include if you don't want to track exact versions)
package-lock.json



# Tailwind build output
public/css/tailwind.css

# ENV File
.env

database.sqlite

node_modules/
