<!DOCTYPE html>
<html>
<head>
    <title>All Bookings</title>
</head>
<body>
    <h1>All Bookings</h1>
       <table border="1">
        <tr>
            <th>Booking ID</th>
            <th>Agent</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>Agent Commission (€)</th>
            <th>Your Commission (€)</th>
        </tr>
        {{BOOKINGS}}
    </table>
    <br>
    <a href="/admin">Back to Admin</a>
</body>
</html>
